main section.header_vid {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

main section.header_vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.description {
    padding: 74.5px 52px;
    text-align: center;
    font-family: 'Inria Serif';
    font-size: 14px;
    letter-spacing: -2%;
    line-height: 150%;
}
.featured_jewelries {
    border: none;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.jewelries_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.jewelries_container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    width: 100%;
    gap: 45px;
    padding: 0 60px;
}

.jewelry {
    text-align: center;
    flex: 0 0 80%; /* Ensures only one item is shown */
}

.jewelry img {
    width: 255px;
    height: 255px;
}
.jewelry h3 {
    font-size: 18px;
    font-weight: 500;
}
.jewelry_material {
    margin-top: 5px;
}

/* Slider dots positioned below the container */
.slider_dots {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space between items and dots */
    gap: 10px;
}

.slider_dots .dot {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-H-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider_dots .dot.active {
    background-color: var(--secondary-color);
}

.book_appointment_link {
    margin-top: 50px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--main-H-color);
    padding: 10px 5px;
    border-radius: 7px;
    font-family: 'Inria Font';
}
.book_appointment_link:hover {
    background-color: var(--secondary-H-color);
}

.images_vid {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Ensures inline elements are centered */
    height: auto; /* Full viewport height */
    width: 100%;
    background-color: #f5f5f5; /* Optional background */
}

.images_vid > img, 
.images_vid > video {
    width: 100%;
    height: 50vh;
    object-position: left center;
    object-fit: cover;
}

.collections {
    width: 100%;
    margin-top: 30px;
}

.navigation {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.filter_nav {
    text-align: center;
    flex: 0 0 auto;
}
.filter_nav img {
    width: 44px;
    transition: filter 0.3s ease-in-out;
}
.filter_nav:hover img {
    filter: brightness(0) saturate(100%) invert(23%) sepia(24%) saturate(750%) hue-rotate(120deg);
}
.filter_nav.active img {
    filter: brightness(0) saturate(100%) invert(23%) sepia(24%) saturate(750%) hue-rotate(120deg);
}
.filter_nav p {
    font-family: 'Inria Serif';
    font-size: 12.81px;
    font-weight: lighter;
}
.filter_nav:hover p {
    color: var(--secondary-color);
}
.filter_nav.active p {
    color: var(--secondary-color);
}

.jewelries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 30px;
    gap: 1px;
}

.jewelry-item {
    padding: 10px;
    outline: 1px solid var(--section-border-color);
    text-align: center;
}

.jewelry-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.jewelry-item h2 {
    font-size: 17px;
    margin: 10px 0 2px;
    font-family: 'Cactus Classical Serif';
}

.jewelry-item .material {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Inria Serif';
}

.jewelry-item .description {
    font-size: 12.18px;
    color: #444;
    font-family: 'Inria Serif';
    margin-top: 20px;
    margin-bottom: 20px;
}

.collections video {
    height: 80vh;
    object-position: 30% 50%;

}

/* Smooth fade-in effect */
@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeEffect 0.5s ease-in-out;
}

/* Hide sections initially */
.rings, .earrings, .necklaces, .bracelets, .amethyst, .gold, .diamond {
    display: none;
}